@import "tailwindcss";

body,
html {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.logo-img {
  height: 50px;
  width: 50px;
}
.nav-header {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.nav-link {
  color: #0f172a;
  font-weight: 800;
  letter-spacing: 1.2px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover,
.nav-link:active {
  color: #4f46e5;
  transform: scale(1.3);
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */
.hero-section {
  margin: auto;
  background: linear-gradient(135deg, #eef2ff 0%, #f0fdfa 100%);
}
.intro-text {
  font-size: 24px;
  font-weight: 600;
  color: #475569;
  letter-spacing: 0.5px;
}
.main-text {
  color: #0f172a;
  /* background-color: linear-gradient(90deg, #4F46E5, #06B6D4); */
  font-weight: 800;
  line-height: 1.1;
}
.sub-text {
  color: #64748b;
  font-weight: 500;
  line-height: 1.6;
  max-width: 480px;
}
.btn {
  border-radius: 24px;
  padding: 14px 28px;
}
.btn-project {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.25);
  transition: all 0.2s ease-in-out;
}
.btn-project:hover {
  background-color: #4338ca;
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(79, 70, 229, 0.35);
}
.btn:active {
  transform: scale(0.98);
}

.btn-cta {
  border: 2px solid #4f46e5;
  transition: all 0.2s ease-in-out;
}
.btn-cta:hover {
  background-color: #4f46e5;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.35);
}
.profile-img {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-indicator {
  top: 115%;
  left: 50%;
  font-size: 32px;
  font-weight: 600;
  color: #4f46e5;
}

/* animation */
:root {
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Initial state */
.animate-fadeUp,
.animate-slideUp,
.animate-fade,
.animate-buttons {
  opacity: 0;
  transform: translateY(30px);
}
/* Fade Up */
.animate-fadeUp {
  animation: fadeUp 0.4s var(--ease) forwards;
  animation-delay: 0.1s;
}
/* Slide Up */
.animate-slideUp {
  animation: slideUp 0.6s var(--ease) forwards;
  animation-delay: 0.2s;
}

/* Fade */
.animate-fade {
  animation: fadeOnly 0.8s var(--ease) forwards;
  animation-delay: 0.4s;
}

/* Buttons */
.animate-buttons {
  animation: slideUp 1s var(--ease) forwards;
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOnly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-primary {
  @apply bg-indigo-600 text-white px-6 py-3 rounded-lg font-medium;
  transition: all 0.3s var(--ease);
}

.btn-primary:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(79, 70, 229, 0.3);
}

.btn-outline {
  @apply border-2 border-indigo-600 text-indigo-600 px-6 py-3 rounded-lg font-medium;
  transition: all 0.3s var(--ease);
}

.btn-outline:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(79, 70, 229, 0.2);
}
.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
.scroll-indicator {
  transform: translateX(-50%);
  color: #4f46e5;
  font-size: 24px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 8px);
  }
}

/* *************************************** */
/* About Section */
/* *************************************** */
.about-section {
  border-top: 1px solid #e2e8f0;
}
.about-data {
  margin: 20px auto;
}
.about-text {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
}
.about-intro {
  font-size: 18px;
  color: #64748b;
}
.card {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  padding: 30px;
}

/* *************************************** */
/* Project Section */
/* *************************************** */
.project-section {
  border-top: 1px solid #e2e8f0;
}
.project-heading {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
  padding-left: 48px;
}

.img-container {
  overflow: hidden; /* prevents image from spilling out */
  border-radius: 12px; /* optional: keeps rounded corners clean */
}

.pr-row-img-box img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease; /* smoother */
}

/* .pr-row-img-box img:hover {
  transform: scale(1.08);  1.5 is too large 
} */
.pr-row-img-box:hover img {
  transform: scale(1.08); /* 1.5 is too large */
}

/* ******************************* */
/* SKILL SECTION */
/* ******************************* */

.skill-section {
  border-top: 1px solid #ccc;
}
.skill-icon {
  height: 78px;
}
.skills-section {
  overflow: hidden;
  background: #0f172a;
  padding: 40px 0;
}

.skills-row {
  overflow: hidden;
  white-space: nowrap;
  margin: 20px 0;
}
.skill-box p {
  color: #fff;
  font: size 24px;
  font-weight: 600;
}

.skills-track {
  display: inline-flex;
  gap: 60px;
  animation: scroll 20s linear infinite;
}

.skills-row.reverse .skills-track {
  animation-direction: reverse;
}

.skills-track span {
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding: 15px 30px;
  background: #1e293b;
  border-radius: 8px;
  transition: 0.3s;
}

.skills-track span:hover {
  background: #38bdf8;
  color: black;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.skills-row:hover .skills-track {
  animation-play-state: paused;
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 20px 30px;
  background: #1e293b;
  border-radius: 12px;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  will-change: transform; /* smoother animation */
}
.skill-box:hover {
  transform: scale(1.15);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.skills-track {
  display: inline-flex;
  gap: 60px;
  animation: scroll 20s linear infinite;
  align-items: center;
}
.skills-row {
  overflow: visible; /* IMPORTANT */
}
.skills-section {
  overflow: hidden;
}

/* =========================
   Base Styles (Desktop)
========================= */

.skill-section {
  width: 100%;
  overflow: hidden;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills-row {
  overflow: hidden;
  position: relative;
}

.skills-track {
  display: flex;
  width: max-content;
  gap: 30px;
  animation: scrollLeft 25s linear infinite;
}

.skills-row.reverse .skills-track {
  animation: scrollRight 25s linear infinite;
}

.skill-box {
  min-width: 150px;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-8px);
}

.skill-icon {
  width: 60px;
  height: 60px;
}

.skill-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

/* =========================
   Animation
========================= */

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* =========================
   Tablet (≤ 1024px)
========================= */

@media (max-width: 1024px) {
  .skill-box {
    min-width: 130px;
    height: 130px;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
  }

  .skill-box p {
    font-size: 14px;
  }

  .skills-track {
    gap: 20px;
  }
}

/* =========================
   Mobile (≤ 768px)
========================= */

@media (max-width: 768px) {
  .skill-section {
    margin-top: 60px;
  }

  .skills-section {
    gap: 25px;
  }

  .skill-box {
    min-width: 110px;
    height: 110px;
    border-radius: 12px;
  }

  .skill-icon {
    width: 40px;
    height: 40px;
  }

  .skill-box p {
    font-size: 13px;
  }

  .skills-track {
    gap: 15px;
    animation-duration: 18s; /* faster on mobile */
  }
}

/* =========================
   Small Mobile (≤ 480px)
========================= */

@media (max-width: 480px) {
  .skill-box {
    min-width: 95px;
    height: 95px;
  }

  .skill-icon {
    width: 32px;
    height: 32px;
  }

  .skill-box p {
    font-size: 12px;
  }
}
/* ****************************** */
/* Contact Section */
/* ****************************** */

.contact-section {
  border-top: 1px solid #ccc;
}
.contact-section {
  padding: 100px 8%;
  background: #f9f9f9;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.contact-left {
  flex: 1;
}

.contact-left h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-subtext {
  margin-bottom: 30px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
  outline: none;
}

.contact-form button {
  padding: 15px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #333;
}

.contact-right {
  flex: 1;
  text-align: center;
}

.contact-right img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-right {
    order: -1;
  }
}

/* ******************* */
/* Footer */
/* ******************* */

.footer {
  background-color: #111;
  color: #fff;
  padding: 60px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer p {
  color: #bbb;
  max-width: 300px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}

.footer ul li a:hover {
  color: #fff;
}

.social-icons a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00adb5;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #222;
  padding-top: 20px;
  font-size: 14px;
  color: #aaa;
}
.footer-icon{
  height: 28px;
}
.insta{
  color: red;
  font-size: 32px;
}
/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
